In [1]:
# Takes in a set of lyrics (big string), outputs a rating of how cliche it is

In [2]:
from __future__ import division  # Python 2 users only
import nltk, re, pprint
from nltk import word_tokenize
from nltk.stem.porter import *
stemmer = PorterStemmer()

In [3]:
lyrics = "Love me do. you know i love you"

In [6]:
# Tokenize
tokens = word_tokenize(lyrics)
# Stem
stems = [stemmer.stem(token.lower()) for token in tokens if token.isalnum()]
# Count
fd = nltk.FreqDist(stems)

In [39]:
# Load up cliche scores
import pandas as pd
import numpy as np

In [40]:
[keys, counts] = zip(*fd.items()) # clever unzipping from http://stackoverflow.com/questions/12974474/how-to-unzip-a-list-of-tuples-into-individual-lists
keys = np.asarray(keys)
counts = np.asarray(counts)

In [51]:
df = pd.read_csv('cliche_words.tsv', sep='\t')

In [52]:
df.head()

,Unnamed: 0,stem,count,p_english,lyric_count,p_lyrics,cliche
0,0,a,10144200,0.030759,974499,2.385306e-02,-0.254275
1,1,abandon,15323,0.000046,1455,3.561440e-05,-0.265890
2,2,abil,51476,0.000156,1,2.447725e-08,-8.760412
3,3,abl,103171,0.000313,1741,4.261489e-05,-1.993470
4,4,abort,18925,0.000057,1,2.447725e-08,-7.759780

In [53]:
df[df.stem.isin(keys)]

      Unnamed: 0  stem    count  p_english  lyric_count  p_lyrics    cliche
979          979    do  2573587   0.007804       470946  0.011527  0.390146
1628        1628     i  3978265   0.012063      2078808  0.050884  1.439407
1809        1809  know   892535   0.002706       273137  0.006686  0.904366
1927        1927  love   180503   0.000547       298043  0.007295  2.589949
1989        1989    me   709623   0.002152       771755  0.018890  2.172392
3709        3709   you  3081151   0.009343      1744257  0.042695  1.519484

In [66]:
avg_cliche = 0
for stem in stems:
    avg_cliche = avg_cliche + df.cliche[df.stem==stem].iloc[0]
avg_cliche = avg_cliche / len(stems)

In [67]:
avg_cliche

1.6406472444265001

0.390146121821

In [114]:
# Put all that in a function!
def get_cliche_rating(lyrics):
    # Lyrics is a string
    
    # Tokenize, stem, count
    tokens = word_tokenize(lyrics)
    stems = [stemmer.stem(token.lower()) for token in tokens if token.isalnum()]
    fd = nltk.FreqDist(stems)
    
    # Cast into format we can work with
    [keys, counts] = zip(*fd.items()) # clever unzipping from http://stackoverflow.com/questions/12974474/how-to-unzip-a-list-of-tuples-into-individual-lists
    keys = np.asarray(keys)
    counts = np.asarray(counts)
    
    # calculate weighted average of cliche ratings
    avg_cliche = 0
    for stem in stems:
        sub_df = df.cliche[df.stem==stem]
        if sub_df.empty:
            continue
        avg_cliche = avg_cliche + df.cliche[df.stem==stem].iloc[0]
    avg_cliche = avg_cliche / len(stems)
    return avg_cliche

In [115]:
get_cliche_rating(lyrics)

1.6406472444265001

In [118]:
get_cliche_rating("""
My sisters and I
Have this wish before we die
And it may sound strange
As if our minds are deranged
Please don't ask us why
Beneath the sheltering sky
We have this strange obsession
You have the means in your possession
We want our tea in the Sahara with you
We want our tea in the Sahara with you
The young man agreed
He would satisfy their need
So they danced for his pleasure
With a joy you could not measure
They would wait for him here
The same place every year
Beneath the sheltering sky
Across the desert he would fly
Tea in the Sahara with you
Tea in the Sahara with you
The sky turned to black
Would he ever come back?
They would climb a high dune
They would pray to the moon
But he'd never return
So the sisters would burn
As their eyes searched the land
With their cups full of sand
Tea in the Sahara with you
Tea in the Sahara with you
Tea in the Sahara with you
Tea in the Sahara with you
""")

-0.56329072423536386